@{
    ViewData["Title"] = "Доступ запрещён";
}
<div class="row">
    <div class="col">
        <h2 class="font-weight-light">@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-warning">
            <div>Извините, доступ к запрошенному ресурсу запрещён.</div>
        </div>
    </div>
</div>