@{
    ViewData["Title"] = "Аутентификация выполнена";
}
<div class="row">
    <div class="col">
        <h2 class="font-weight-light">@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Вы успешно аутентифицированы</p>
    </div>
</div>